#System Files
/lib
**/bin/Debug/
**/bin/Develop/
**/bin/Formation/
**/bin/Master/
**/bin/Production/
**/bin/Release/
**/obj/Debug/
**/obj/Develop/
**/obj/Formation/
**/obj/Master/
**/obj/Production/
**/obj/Release/
**/obj/**
**/bin/
**/.vs/
**.csproj.user
**.sqlproj.user
**.dbmdl
**.suo
**.jfm
/$tf
**/TestResults/
**/UI.SPA/dist/
**/.tmp/

#Others Files
*.sqlite
/GUI/Transactionnel/UI.SPA/node_modules
/host
**/packages
**/.suo
*.jfm
Librairie/Business
Librairie/GUI/DomiaGroup.BO.UI.Entities.dll
Librairie/GUI/DomiaGroup.BO.UI.WebApi.dll
Librairie/Technical/DomiaGroup.BO.Batchs.Commun.dll
Librairie/Technical/DomiaGroup.BO.Technical.Commun.dll
Librairie/Technical/DomiaGroup.BO.Technical.Commun.Resources.dll
*.ncrunchsolution.user
*.user
_NCrunch_KataCocktails/KataCocktails.crunchsolution.cache
_NCrunch_KataCocktails/KataCocktails.executiontimes.cache
KataCocktails.v3.ncrunchsolution
